.page-wrapper {
  margin-left: 240px;
  height: 100%;
  box-sizing: border-box;
  overflow-y: scroll;
  -webkit-transition: all .5s ease-out; /* Safari */
  transition: all .5s ease-out;

  &.fill {
    margin: 0;
  }
}

html[dir="rtl"] .page-wrapper {
  margin-left: 0;
  margin-right: 240px;
  &.fill {
    margin: 0;
  }
}

.page-content {
  padding: 0 104px;
  align-self: stretch;
  flex: 1;
  padding-top: 24px;

  &.white-page {
    background-color: #fff;
  }

  &.nopadding {
    padding-left: 0;
    padding-right: 0;
  }
}

.page-content .page-section {
  display: flex;
  flex-direction: column;
  margin: 24px 0;
  padding-top: 32px;

  &:not(:first-child) {
    border-top: 1px solid $colorDivider;
  }

  &:first-child {
    margin-top: 0;
    padding-top: 0;
  } 
}

.page-content .page-section .page-section-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 56px;

  .page-section-image {
    width: 32px;
    height: 32px;
    border-radius: 50%;
  }

  .page-section-title {
    margin: 0 8px;
    font-weight: bold;
    @include text-subheading;
  }

  .page-section-caption {
    margin: 0 8px;
    flex: 1;
    @include text-hint;
  }

  .page-section-action {
    @include btn-primary;
  }

  .page-section-close {
    @include text-hint;
    cursor: pointer;
    &:hover {
      @include text-secondary;
    }
  }
}

.page-content .page-section .page-section-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .page-section-item {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 210px;
    margin-bottom: 24px;
    margin-right: 4px;
    margin-left: 4px;
    cursor: pointer;
  }

  .page-item-thumbnail {
    height: 118px;
    position: relative;
    .item-thumbnail-image {
      width: 100%;
      height: 100%;
    }

    .item-thumbnail-label {
      background-color: rgba(0,0,0,.67);
      color: white;
      border-radius: 2px;
      position: absolute;
    }

    .item-thumbnail-action {
      display: none;
      padding: 4px;
      top: 4px;
      right: 4px;
    }

    .item-thumbnail-duration {
      padding: 2px 4px;
      bottom: 4px;
      right: 4px;
      font-size: 12px;
      font-weight: 600;
    }

    .item-thumbnail-playlist_play {
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      text-transform: uppercase;
      display: none;
      z-index: 4;
      .item-playlist-play_icon.mdi.mdi-play {
        margin: 8px;
      }
    }

    .item-thumbnail-playlist_info {
      top: 0;
      right: 0px;
      width: 40%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      z-index: 3;
      .item-playlist-videos_number {
        margin: 8px;
        @include text-subheading;
      }
    }
  }

  .page-section-item:hover .page-item-thumbnail .item-thumbnail-action,
  .page-section-item:hover .page-item-thumbnail .item-thumbnail-playlist_play {
    display: flex;
  }

  .page-item-title {
    margin: 8px 0;  
  }

  .page-item-author {
    @include text-caption;
    @include text-hint;
    &:hover {
      @include text-secondary;
    }
  }

  .page-item-details {
    @include text-caption;
    @include text-hint;
    display: flex;
    flex-direction: row;
    align-items: baseline;

    .item-details-first::after {
      content: '•';
      margin: 0 4px;
    }
  }
}

html[dir="rtl"] .page-content .page-section .page-section-list .page-item-thumbnail {

  .item-thumbnail-label {
    right: inherit;
    left: 4px;
  }

  .item-thumbnail-playlist_info, .item-thumbnail-playlist_play {
    right: inherit;
    left: 0px;
  }
}