.page-wrapper {
  margin-left: 240px;
  height: 100%;
  box-sizing: border-box;
  overflow-y: scroll;
  -webkit-transition: all .5s ease-out; /* Safari */
  transition: all .5s ease-out;

  &.fill {
    margin: 0;
  }
}

.sidebar.free ~ .page-wrapper {
  margin: 0;
}

html[dir="rtl"] .page-wrapper {
  margin-left: 0;
  margin-right: 240px;
  &.fill {
    margin: 0;
  }
}

.page-paper {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  &.transparent {
    background-color: transparent;
  }
}

.page-content {
  // padding: 0 104px;
  align-self: center;
  width: $contentWidth;
  flex: 1;
  padding-top: 24px;

  &.nopadding {
    padding-left: 0;
    padding-right: 0;
  }
}

.page-content .page-section {
  display: flex;
  flex-direction: column;
  margin: 24px 0;
  padding-top: 32px;

  &:not(:first-child) {
    border-top: 1px solid $colorDivider;
  }

  &:first-child {
    margin-top: 0;
    padding-top: 0;
  } 
}

.page-content .page-section .page-section-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 56px;

  .page-section-image {
    width: 32px;
    height: 32px;
    border-radius: 50%;
  }

  .page-section-title {
    margin: 0 8px;
    font-weight: bold;
    @include text-subheading;
  }

  .page-section-caption {
    margin: 0 8px;
    flex: 1;
    @include text-hint;
  }

  .page-section-action {
    @include btn-primary;
  }


  .page-section-close, .page-section-icon {
    @include text-hint;
    @include spaced-icon;

    cursor: pointer;
    &:hover {
      @include text-secondary;
    }

    &.active {
      @include text-primary;
    }
  }
}

.page-content .page-section .page-section-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  &.view-list {
    flex-direction: column;
    .video-card {
      @extend .video-card-landscape;
      padding-bottom: 24px;
      border-bottom: 1px solid $colorDivider;
      .video-card-thumbnail {
        width: 246px;
        height: 138px;
      }
    }
  }
}