.playlist-page {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.playlist-sidebar {
  padding: 24px 32px;
  width: 417px;
  box-sizing: border-box;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  .playlist-thumbnail {
    height: 200px;
    margin-bottom: 32px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: stretch;
    padding: 4px 8px;
    box-sizing: border-box;

    img {
      flex: 1;
    }

    .playlist-sidebar-play_all {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      background-color: rgba(0,0,0,.67);
      text-transform: uppercase;
      color: white;
      .playlist-sidebar-play_icon {
        margin: 8px;
      }
    }
  }

  .playlist-title {
    @include text-heading;
    margin-bottom: 8px;
  }

  .playlist-info {
    @include text-subheading;
    @include text-hint;
    display: flex;
    flex-direction: row;

    > *:not(:last-child)::after {
      content: '•';
      margin: 0 4px;
    }
  }
}

.playlist-list {

  .playlist-list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;

    .playlist-item-number {
      width: 36px;
      text-align: center;
    }

    .playlist-item-content {
      flex: 1;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      .video-card {
        width: calc(100% - 104px);
        border-bottom: 1px solid $colorDivider;
        
        .video-card-thumbnail {
          width: 120px;
          height: 67px;
        }
      }
    }
  }
}