.playlist-page {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.playlist-sidebar {
  padding: 24px 32px;
  width: 417px;
  box-sizing: border-box;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  .playlist-thumbnail {
    height: 200px;
    margin-bottom: 32px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: stretch;
    padding: 4px 8px;
    box-sizing: border-box;

    img {
      flex: 1;
    }

    .playlist-sidebar-play_all {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      background-color: rgba(0,0,0,.67);
      text-transform: uppercase;
      color: white;
      .playlist-sidebar-play_icon {
        margin: 8px;
      }
    }
  }

  .playlist-title {
    @include text-heading;
    margin-bottom: 8px;
  }

  .playlist-info {
    @include text-subheading;
    @include text-hint;
    display: flex;
    flex-direction: row;

    > *:not(:last-child)::after {
      content: '•';
      margin: 0 4px;
    }
  }
}

.playlist-list {

  .playlist-list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;

    .playlist-item-number {
      width: 36px;
      text-align: center;
    }

    .playlist-item-content {
      flex: 1;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      .video-card {
        width: calc(100% - 104px);
        border-bottom: 1px solid $colorDivider;
        
        .video-card-thumbnail {
          width: 120px;
          height: 67px;
        }
      }
    }
  }
}

.playlist-list-header {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.playlist-list-header-main {
  background-color: rgba(237, 237, 237, 0.6);
  border-bottom: 1px solid $colorDivider;
  padding: 12px;
  box-sizing: border-box;
  position: relative;
}

.playlist-list-title {
  @include text-subheading;
  margin-bottom: 4px;
}

.playlist-list-author {
  margin-bottom: 16px;
}

.playlist-header-playall {
  @include btn-float;
  position: absolute;
  bottom: -28px;
  right: 28px;
}

html[dir="rtl"] .playlist-header-playall {
  right: unset;
  left: 28px;
}

.playlist-list-header-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 40px;
  padding: 0 12px 12px 12px;

  .playlist-list-status::before {
    content: '⚫';
    margin: 0 4px;
  }
}


@media only screen and (max-width: 1000px) {

  .playlist-sidebar {
    display: none;
  }

  .playlist-list {
    .playlist-list-item {

      .playlist-item-number {
        display: none;
      }

      .playlist-item-content {
        .video-card {
          width: 100%;
          border: none;
          padding: 8px 0;
          
          .video-card-thumbnail {
            width: 160px;
            height: 90px;
          }
        }
      }
    }

    &.videos-sidebar {
      padding-top: 0;
    }
  }
  
}