.tabs {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  background-color: #fafafa;
  height: 48px;
  @include text-secondary;
}

.tabs .tab {
  padding: 0 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 48px;
  cursor: pointer;
  box-sizing: border-box;
  text-transform: uppercase;
  white-space: nowrap;
  
  &:hover {
    @include text-primary;
  }

  &.active {
    @include text-primary;
    border-bottom: 3px solid #6e6e6e;
  }
}