.video-page {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  padding: 24px 8px;
  width: 1280px;
  align-self: center;
  
  .video-cell {
    grid-column-start: 1;
    grid-row-start: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 854px;

    .video-box {
      width: 100%;
      height: 480px;
    }

    .video-info {
      padding: 24px 0 8px 0;
      border-bottom: 1px solid $colorDivider;

      .video-info-title {
        @include text-title;
      }

      .video-info-details {
        @include text-hint;
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 40px;

        .video-info-views {
          flex: 1;
        }

        .video-info-actions {
          display: flex;
          flex-direction: row;
          align-items: center;
          @include text-caption;
          .video-info-action {
            margin: 0 4px;
            display: flex;
            flex-direction: row;
            align-items: center;
          }
          .icon {
            @include spaced-icon;
            cursor: pointer;
            font-size: 24px;
            &:hover {
              @include text-secondary;
            }
          }
        }
      }
    }

    .video-description {
      display: flex;
      flex-direction: column;
      padding: 16px 0;
      border-bottom: 1px solid $colorDivider;

      .video-description-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 67px;
        .video-description-sector-logo {
          width: 48px;
          height: 48px;
          border-radius: 50%;
        }

        .video-description-header-text {
          margin: 0 16px;
          flex: 1;
          display: flex;
          flex-direction: column;
          .video-description-title {
            @include text-subheading;
          }
          .video-description-subtitle {
            @include text-hint;
            @include text-caption;
          }
        }

        .video-description-actions {
          display: flex;
          flex-direction: row;
          align-items: center;
          .video-description-subscribe {
            @include btn-primary;
          }
          .icon {
            @include spaced-icon;
            @include text-hint;
          }
        }
      }

      .video-description-content {
        padding: 0 64px;
        white-space: pre-wrap;
      }
    }
  }

  .video-comments {
    grid-column-start: 1;
    grid-row-start: 2;
    display: flex;
    flex-direction: column;
    .comments-header {
      display: flex;
      flex-direction: row;
      align-items: center;
      @include text-subheading;
      margin: 24px 0;
    }

    .comment {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      margin-bottom: 16px;

      .comment-avatar {
        width: 56px;
        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
        }
      }

      .comment-content {
        display: flex;
        flex-direction: column;
        flex: 1;
        
        .input-basic {
          margin: 0;
        }

        .comment-form-actions {
          display: flex;
          flex-direction: row;
          .comment-submit {
            @include btn-primary;
          }
        }

        .comment-header {
          @include text-caption;
          display: flex;
          flex-direction: row;

          .comment-username {
            font-weight: bold;
          }
          .comment-time {
            @include text-hint;
            margin: 0 8px;
          }
        }

        .comment-text {
          margin: 8px 0;
        }

        .comment-reactions {
          display: flex;
          flex-direction: row;
          align-items: center;

          @include text-hint;
          .comment-reaction {
            text-transform: uppercase;
            margin: 0 8px;
            display: flex;
            flex-direction: row;
            align-items: center;
            cursor: pointer;
            .icon {
              font-size: 16px;
              margin: 8px;
            }
            &:hover {
              @include text-secondary;
            }
          }
        }

      }
    }
  }

  .video-page-sidebar {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: -1;
    padding-left: 24px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 402px;

    .video-page-sidebar-title {
      @include text-subheading;
      margin-bottom: 12px;
    }

    .video-card {
      padding-top: 0;
      padding-bottom: 8px;
      &.next-video {
        margin-bottom: 16px;
        padding-bottom: 16px;
        border-bottom: 1px solid $colorDivider;
      }

      .video-card-thumbnail {
        width: 168px;
        height: 94px;
      }

      .video-card-title {
        margin: 0;
      }
    }
  }
}

html[dir="rtl"] .video-page {
  .video-page-sidebar {
    padding-right: 24px;
    padding-left: 0;
  }
}

@media only screen and (max-width: 1300px) {
  .video-page {
    width: auto;
    .video-cell {
      width: 640px;
      .video-box {
        height: 360px;
      }
    }
  }
}

@media only screen and (max-width: 1000px) {

  .video-page {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    width: 100%;
    box-sizing: border-box;
    padding-left: 0;
    padding-right: 0;
    
    .video-cell {
      grid-column-start: 1;
      grid-row-start: 1;
      width: 100%;

      .video-box {
        height: 0;
        padding-bottom: 56.25%;
        position: relative;

        .video-player {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
        }
      }
    }
    
    .video-comments {
      grid-column-start: 1;
      grid-row-start: 3;
    }
    
    .video-page-sidebar {
      grid-column-start: 1;
      grid-row-start: 2;
      grid-row-end: 2;
    }
  }
}