.video-page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 24px 8px;
  width: 1280px;
  align-self: center;
  
  .video-page-content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 854px;

    .video-box {
      width: 100%;
      height: 480px;
    }

    .video-info {
      padding: 24px 0 8px 0;
      border-bottom: 1px solid $colorDivider;

      .video-info-title {
        @include text-title;
      }

      .video-info-details {
        @include text-hint;
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 40px;

        .video-info-views {
          flex: 1;
        }

        .video-info-actions {
          display: flex;
          flex-direction: row;
          align-items: center;
          @include text-caption;
          .video-info-action {
            margin: 0 4px;
            display: flex;
            flex-direction: row;
            align-items: center;
          }
          .icon {
            @include spaced-icon;
            cursor: pointer;
            font-size: 24px;
            &:hover {
              @include text-secondary;
            }
          }
        }
      }
    }

    .video-description {
      display: flex;
      flex-direction: column;
      padding: 16px 0;
      border-bottom: 1px solid $colorDivider;

      .video-description-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 67px;
        .video-description-sector-logo {
          width: 48px;
          height: 48px;
          border-radius: 50%;
        }

        .video-description-header-text {
          margin: 0 16px;
          flex: 1;
          display: flex;
          flex-direction: column;
          .video-description-title {
            @include text-subheading;
          }
          .video-description-subtitle {
            @include text-hint;
            @include text-caption;
          }
        }

        .video-description-actions {
          display: flex;
          flex-direction: row;
          align-items: center;
          .video-description-subscribe {
            @include btn-primary;
          }
          .icon {
            @include spaced-icon;
            @include text-hint;
          }
        }
      }

      .video-description-content {
        padding: 0 64px;
        white-space: pre-wrap;
      }
    }
  }

  .video-page-sidebar {
    padding-left: 24px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 402px;

    .video-page-sidebar-title {
      @include text-subheading;
      margin-bottom: 12px;
    }

    .video-card {
      padding-top: 0;
      padding-bottom: 8px;
      &.next-video {
        margin-bottom: 16px;
        padding-bottom: 16px;
        border-bottom: 1px solid $colorDivider;
      }

      .video-card-thumbnail {
        width: 168px;
        height: 94px;
      }

      .video-card-title {
        margin: 0;
      }
    }
  }
}

html[dir="rtl"] .video-page {
  .video-page-sidebar {
    padding-right: 24px;
    padding-left: 0;
  }
}