extends ../template

block sidebar
  +main-sidebar()

block content
  .page-wrapper.flex-column
    +tabs('playlists')
    .page-paper
      .page-content
        .page-section
          .page-section-header
            .page-section-title= chapters
            .page-section-caption= playlists
          .page-section-list
            each i in [1,2,3,4,5,6,7,8,9,10,11,12,13]
              a.video-card(href="video.html")
                .video-card-thumbnail
                  img.video-card-image(src='../assets/sample_images/v1.jpeg')
                  i.video-card-action.mdi.mdi-clock
                  .video-card-playlist_play
                    .video-card-play_icon.mdi.mdi-play
                    div= playAll
                  .video-card-playlist_info
                    .video-card-length 15
                    .mdi.mdi-playlist-play
                .video-card-info 
                  .video-card-title عرض شكب عالباك
